<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bar.css">
</head>

<body>
<header>
    <img src="../Photos/logos/LOGOTACNO.png" id="logo">
    <h4 id="login"><a>Login</a></h4>
</header>

<div id="center">
    <div id="center-left">
        <h2>Bar_Name</h2>
        <img src="../Photos/the-harp-bar.jpg">
        <div id="getBack">
            <img id="strelka" src="../Photos/strelka.png">
            <p>get back</p>
        </div>
    </div>
    <div id="center-right">
        <h4>Comments:</h4>
        <ul>
            <li>.</li>
            <li>.</li>
            <li>.</li>
        </ul>
    </div>
</div>

<footer>
    <p>&copy; TMT team</p>
</footer>
</body>
</html>