<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/explore.css">
</head>

<body>
<header>
    <img src="../Photos/logos/LOGOTACNO.png" id="logo">
    <h4 id="login"><a>Login</a></h4>
</header>
<div id="center">

    <div id="center-left">
        <h4>
            Nice choice
        </h4>
        <ul>
            <li>.</li>
            <li>.</li>
        </ul>
    </div>
    <div id="center-right">
        <img src="../Photos/coffeeCrno.png">
    </div>

</div>
<footer>
    <p>&copy; TMT team</p>
</footer>

</body>

</html>