<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
<header>
    <img src="../Photos/logos/LOGOTACNO.png" id="logo">
    <h4 id="login"><a>Login</a></h4>
</header>
<div id="center">

    <div id="center-left">
        <h4>
            What town are you feelin today?
        </h4>
        <select name="gradovi" id="gradovi">
            <option > </option>
            <option value="Stip">Штип</option>
            <option value="Bitola">Битола</option>
            <option value="Tetovo">Тетово</option>
            <option value="Negotino">Неготино</option>
            <option value="Vinica">Виница</option>
            <option value="Resen">Ресен</option>
            <option value="Veles">Велес</option>
            <option value="Struga">Струга</option>
        </select>
        <button>Search</button>
    </div>
    <div id="center-right">
        <img src="../Photos/coffee.png">
    </div>

</div>
<footer>
    <p>&copy; TMT team</p>
</footer>

</body>

</html>