<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
    <img src="../Photos/logos/LOGOTACNO.png" id="logo">
    <h4 id="login"><a>Login</a></h4>
</header>
<div id="center">
    <div id="center-left">
        <h2>
            Let's pick the perfect place for daily caffeine.
        </h2>
        <button>
            explore
        </button>
    </div>
    <div id="center-right">
        <img src="../Photos/coffee.png">
    </div>
</div>
<footer>
    <p>&copy; TMT Team</p>
</footer>

</body>
</html>