<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/signIn.css">
</head>
<body>
<header>
  <img src="../Photos/logos/LOGOTACNO.png" id="logo">

</header>
<div id="center">
  <div id="center-left">
    <img src="../Photos/coffeeCrno.png">
  </div>
  <div id="center-right">
    <form class="form-signin">
      <h2>Sign in</h2>
      <label>User Name:</label>
      <br />
      <input type="text" id="username" name="username" placeholder="Login" />
      <br />

      <label>Password:</label>
      <br />
      <input type="password" id="password" name="password" placeholder="Password" />
      <br />
      <div class="input-box">
        <input type="button" name="sign-in" value="login">
      </div>

    </form>

  </div>

</div>
<footer>
  <p>&copy; TMT team</p>
</footer>

</body>
</html>