<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/signUp.css">
</head>

<body>
<header>
    <img src="../Photos/logos/LOGOTACNO.png" id="logo">
    <h4 id="login"><a>Login</a></h4>
</header>


<div id="center">

    <div id="center-left">

        <form class="form-signin">
            <h2>Please login</h2>

            <label>Username:</label><br />
            <input type="text" id="username" name="username" placeholder="Login" /><br />

            <label>Email:</label><br />
            <input type="email" id="email" name="email" placeholder="Email" /><br />
            label>Password</label><br />
            <input type="password" id="password" name="password" placeholder="Password" /><br />

            <div class="input-box">
                <input type="button" name="sign-in" value="login">
            </div>

        </form>

    </div>
    <div id="center-right">
        <img src="../Photos/coffee.png">
    </div>

</div>


<footer>
    <p>&copy; TMT team</p>
</footer>

</body>

</html>